<!doctype html>

<html>
	<head>
	</head>
	<body>
		<div style="text-align:center">
			Title: <h1>{{book[ 'f' ]}}</h1>
                        ASIN: <h2>{{book[ 'a' ]}}</h2>
                        Description: <text>{{book[ 'b' ]}}</text>
                        </br>
                        <img src={{book[ 'c' ]}} height=300>
                        </br>
                        Price: <text>{{book[ 'd' ]}}</text>
                        </br>
                        Sales Rank: <text>{{book[ 'g' ]}}</text>
                        </br>
                        Related Books: <text>{{book[ 'e' ]}}</text>
		</div>
	</body>
</html>
