<!doctype html>

<html>
	<head>
		<h1 style="text-align:center">Amazon Books Details</h1>
	</head>

	<body>
		<div style="text-align:center">
			<h3><a href="{{url_for('index')}}">Back to Main Page</a></h3>
			<p>Number of reviews with different ratings</p>
			<img src = 'static/images/NumBooks_ratings.png'>
			<p>Trend in number of reviews as a function of time (in years)</p>
			<img src = 'static/images/5 reviews vs year.png'>
			<p>Distribution of number of reviews by prolific reviewers (with >10 reviews)</p>
			<img src = 'static/images/4 reviews by prolific reviewers.png'>
			<p>Correlation of average number of total reviews with price</p>
			<img src = 'static/images/numReviewsAndPrice.png'>
			<p>Average overall ratings as a function of sales rank</p>
			<img src = 'static/images/salesRankAndRating.png'>
		</div>
	</body>
</html>
